<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebo Apartments</title>
    <link rel="stylesheet" href="/Nebo Apartment Site/public/stylesheets/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>


<body>
    <!-- start of header  -->
    <header>
        <!-- start of nav  -->
        <nav>
            <div class="logo-wrap">
                <a href="#" class="logo">NEBO</a>
            </div>
            <div class="nav-links-wrap">
                <div class="nav-link-div">
                    <a href="" class="nav-link">About</a>
                </div>
                <div class="nav-link-div big-div">
                    <a href="" class="nav-link">Advantages</a>
                </div>
                <div class="nav-link-div">
                    <a href="" class="nav-link">Features</a>
                </div>
                <div class="nav-link-div">
                    <a href="" class="nav-link">Contacts</a>
                </div>
            </div>
            <div class="phone-wrap">
                <p id="tel">Call: +234-904-555-6736</p>
            </div>
        </nav>
        <!-- end of nav  -->
    </header>
    <!-- end of header  -->


    <!-- start of main  -->
    <main>
        <section class="first-layer">
            <p id="inner-text">apartment</p>
        </section>

        <section class="second-layer">
            <div class="details-wrapper">
                <div class="det-figs">
                    <div class="desc-wrap">
                        <h1>2</h1>
                        <span>floor</span>
                    </div>
                    <div class="desc-wrap">
                        <h1>5</h1>
                        <span>rooms</span>
                    </div>
                    <div class="desc-wrap">
                        <h1>2</h1>
                        <span>120m<sup>2</sup></span>
                    </div>
                </div>

                <div class="detail-wrap">
                    <p id="detail">Ceiling height - 5m</p>
                    <p id="detail">24 hour guarded parking area</p>
                    <p id="detail">Provide rooftop terrace entrance</p>
                    <p id="detail">Window facing 2 corners of the world</p>
                    <p id="detail">Multiple levels of security</p>
                    <p id="detail">5 rooms, including an isolated 8.5m<sup>2</sup> room with a window</p>
                </div>
            </div>

            <div class="floor-img-wrapper">
                <img src="/Nebo Apartment Site/public/images/blueprint.png" alt="building floor plan">
            </div>
        </section>

        <section class="third-layer">
            <div class="gallery-wrap">
                <div class="col-1">
                    <div>
                        <img class="dn-img-wrap" src="/Nebo Apartment Site/public/images/dining-room.png" alt="dining room">
                    </div>
                   
                    <div>
                        <img  class="bd-rm-wrap" src="/Nebo Apartment Site/public/images/bedroom.jfif" alt="bedroom">
                    </div>
                </div>

                <div class="col-2">
                    <div>
                        <img  class="bth-img-wrap" src="/Nebo Apartment Site/public/images/bathroom.jpg" alt="bathroom">
                    </div>
                   
                    <div>
                        <img class="mantle-wrap" src="/Nebo Apartment Site/public/images/fireplace.jpg" alt="fire place">
                    </div>
                </div>
            </div>
        </section>

        <section class="fourth-layer">
            <div class="newsletter-wrapper">
                <h1>sign up for viewing</h1>
                <div class="news-form-wrap">
                    <form action="" method="post">
                        <div class="name-input">
                            <input type="text" name="name" id="name_in" placeholder="Name">
                        </div>

                        <div class="email-input">
                            <input type="email" name="email" id="email_in" placeholder="Email">
                        </div>

                        <div class="check-input">
                            <input type="checkbox" name="check_data" value="newslater" id="chkbox_in" >
                            <label for="news">I agree to the processing of personal data</label>
                        </div>

                        <div class="btn-input">
                           <button class="btn" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="copyright">
            <p>Nebo&copy;2023</p>
        </div>
    </footer>

</body>
</html>